.slider {
    position: relative;
    & a {
        &:link, &:visited {
            color: $opacityGrey;
        }
        &:hover, &:active {
            color: $brown;
        }
    }
}

.slider__images {
    position: relative;
    overflow: hidden;
    &-wrap {
        font-size: 0;
        white-space: nowrap;
        transition: margin .5s ease-out;
        & img {
            width: 100vw;
            height: 100vh;
            @media (max-width: 768px) {
                height: 100vw; // 1:1 ratio on mobile devices
            }
            object-fit: cover;
            pointer-events: none;
        }
    }
}

.slider__pager {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    &_previous {
        left: 5%;
    }
    &_next {
        right: 5%;
    }
    & i {
        font-size: 3vw;
    }
}

.slider__pagination {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    & li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px;
        & a {            
            display: block;
            width: 16px;
            height: 16px;
            border: 3px solid rgba(255,255,255,0.7);
            border-radius: 50%;
            background-color: transparent;
            background-clip: content-box;
            &.active, &:hover.active {
                border: white;
                background-color: white;
            }
            &:hover {
                border: $brown;
                background-color: $brown;
            }
        }
    }
    &-item_tmpl {
        display: none;
    }
}

